<div>
  <h2 id="page-heading" data-cy="FeedbackResponseHeading">
    <span jhiTranslate="feedbackApp.feedbackResponse.home.title">Feedback Responses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="feedbackApp.feedbackResponse.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-feedback-response"
        [routerLink]="['/feedback-response/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="feedbackApp.feedbackResponse.home.createLabel"> Create a new Feedback Response </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="feedbackResponses?.length === 0">
    <span jhiTranslate="feedbackApp.feedbackResponse.home.notFound">No Feedback Responses found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="feedbackResponses && feedbackResponses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="response">
            <div class="d-flex">
              <span jhiTranslate="feedbackApp.feedbackResponse.response">Response</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="discription">
            <div class="d-flex">
              <span jhiTranslate="feedbackApp.feedbackResponse.discription">Discription</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="picture">
            <div class="d-flex">
              <span jhiTranslate="feedbackApp.feedbackResponse.picture">Picture</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="feedbackApp.feedbackResponse.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="applicationUser.id">
            <div class="d-flex">
              <span jhiTranslate="feedbackApp.feedbackResponse.applicationUser">Application User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let feedbackResponse of feedbackResponses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/feedback-response', feedbackResponse.id, 'view']">{{ feedbackResponse.id }}</a>
          </td>
          <td>{{ feedbackResponse.response }}</td>
          <td>{{ feedbackResponse.discription }}</td>
          <td>
            <a *ngIf="feedbackResponse.picture" (click)="openFile(feedbackResponse.picture, feedbackResponse.pictureContentType)">
              <img
                [src]="'data:' + feedbackResponse.pictureContentType + ';base64,' + feedbackResponse.picture"
                style="max-height: 30px"
                alt="feedbackResponse image"
              />
            </a>
            <span *ngIf="feedbackResponse.picture"
              >{{ feedbackResponse.pictureContentType }}, {{ byteSize(feedbackResponse.picture) }}</span
            >
          </td>
          <td>{{ feedbackResponse.status }}</td>
          <td>
            <span *ngFor="let applicationUser of feedbackResponse.applicationUsers; let last = last">
              <a class="form-control-static" [routerLink]="['/application-user', applicationUser.id, 'view']">{{ applicationUser.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/feedback-response', feedbackResponse.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/feedback-response', feedbackResponse.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(feedbackResponse)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
